<div class="box__histogram">
  <div class="histogram__top row">
    <h3 class="histogram__title">Statistique du mois</h3>
    <mat-form-field appearance="fill">
      <mat-label>Entrez une période</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Date de début">
        <input matEndDate formControlName="end" placeholder="Date de fin">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Date de début non Valide</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Date de fin non Valide</mat-error>
    </mat-form-field>
    <span class="material-icons icon--stats" (click)="changeTypeHistogram()">
      {{nameIcon}}
    </span>
  </div>
  <!--<p>Selected range: {{range.value | json}}</p>-->

  <table>
    <tr>
      <td>
        <ngx-charts-bar-vertical [results]="arrListSpentVariable" [view]="view" [scheme]="colorScheme"
                                 [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis"
                                 [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                 [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle"
                                 [legendPosition]="legendPosition" [animations]="animations"
                                 [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks"
                                 [trimYAxisTicks]="trimYAxisTicks"
                                 [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength"
                                 [maxYAxisTickLength]="maxYAxisTickLength" [yAxisTicks]="yAxisTicks"
                                 [showDataLabel]="showDataLabel" [barPadding]="barPadding"
                                 [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">

        </ngx-charts-bar-vertical>
      </td>
    </tr>
  </table>
  <div class="divider"></div>
  <div class="box__resum">
    <div class="row">
      <h5 class="resum__title">Dépense principale</h5>
      <h5 class="resum__title">Dépense secondaire</h5>
      <h5 class="resum__title">Dépense tertiare</h5>
    </div>
    <div class="box__value">
      <p class="value__category">
        Course | <span class="value__amount">150</span>
      </p>
      <p class="value__category">
        Course | <span class="value__amount">150</span>
      </p>
      <p class="value__category">
        Course | <span class="value__amount">150</span>
      </p>

    </div>
  </div>
</div>
