<div class="box__little">
  <form [formGroup]="endMonthForm" class="form__login" (ngSubmit)="addCategory()">
    <div class="row">
      <p class="box__input_login" style="font-size: 13px">
        <mat-form-field class="insert__input" appearance="outline">
          <mat-label>Fin du mois</mat-label>
          <input formControlName="value" class="input__login" type="number" matInput placeholder="" required>
        </mat-form-field>
      </p>
      <mat-form-field appearance="fill" class="choosen__type" style="font-size: 13px">
        <mat-label>Type d'ajout</mat-label>
        <mat-select formControlName="type_account">
          <mat-option required *ngFor="let endMonth of endMonths" [value]="endMonth">
            {{endMonth.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <p class="form__submit">
      <button class="submit__add" [disabled]="endMonthForm.invalid">ENVOYER</button>
    </p>
  </form>
</div>
