<div class="login">
  <div class="loginLink">
    <a class="" href="/signup">S'inscrire?</a>
  </div>
  <form [formGroup]="loginForm" class="form__login" (ngSubmit)="signin()">
    <p class="box__input_login">
      <mat-form-field class="login__input" appearance="outline">
        <mat-label>Login</mat-label>
        <input formControlName="login" ng-model="user.login" class="input__login" type="text" matInput placeholder="" required>
      </mat-form-field>
    </p>
    <p class="box__input_password">
      <mat-form-field class="login__input" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input formControlName="password" ng-model="user.password" class="input__login" type="password" matInput placeholder="" required>
      </mat-form-field>
      <p class="error--msg" *ngIf="loginError">{{loginError}}
    </p>
    <p class="form__submit">
      <button class="submit__btn" type="submit">Connection</button>
    </p>
  </form>
</div>
