a {
  text-decoration: none;
}

.login {
  min-width: 24em;
  max-width: 35em;
  background: #FFFFFF;
  margin: 15vh auto 23.5vh auto;
  width: 40%;
  height: auto;
  border-radius: 1em;
}

.loginLink {
  margin-left: 75%;
  padding: 1em 1em 3em 1em;
}

/*----------- FORM ----------*/

.form__login {
  margin: 0 15% 0 15%;
  width: 100%;
  height: auto;
  padding-bottom: 3em;
}

.login__input {
  width: 70%;
  border-top: 0.2em solid transparent;
}

.box__input_login {
  height: 6em;
}

.box__input_password {
  height: 4em;
}

.mat-form-field {
  line-height: 1em;
}

.form__submit {
  margin: 2em auto 0 auto;
}

.submit__btn {
  height: 3em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 1em;
  outline: none;
  background: #05F280;
}

.error--msg {
  line-height: 1.3em;
  transform: translateY(10px);
  margin-left: 0.5em;
  font-size: 88%;
  color: #FF0005;
}
