.total__box {
  margin: 1em 0 4em 0;
  background: #FFFFFF;
  padding: 1em 1em 1em 0.5em;
  min-width: 30em;
}

.title__total {
  color: #07003B;
  margin-left: 2em;
}

.title__total.fixed , .total__spent.fixed {
  position: relative;
  right: 2em;
  padding: 0;
  margin-left: 0;
}

.total__spent.fixed {
  padding-left: 1.2em;
}

.total__spent, .total__income {
  padding-left: 2em;
}

.total__income, .total__spent {
  margin-left: 2.5em;
}

.total__income {
  color: #05F280;
}

.total__spent {
  color: #FF0005;
}

.spent__fixed {
  position: relative;
  left: 40%;
}

.icon-choose {
  position: relative;
  top:0.3em;
  left: 9.3em;
}
