.total__box {
  margin-top: 1.5em;
  background: #FFFFFF;
  padding: 1em 1em 1em 0.5em;
  max-width: 35em;
}

.title__total {

  color: #07003B;
}

.total__spent, .total__income {
  padding-left: 2em;
}

.total__income {
  color: #05F280;
}

.total__spent {
  color: #FF0005;
}

.spent__fixed {
  position: relative;
  left: 40%;
}

.icon-choose {
  position: relative;
  top:0.3em;
  left: 100%;
}
