.margin__open {
  margin-left: 180px;
}

.back--open {
  width: 190px;
  height: -webkit-calc(100% - 15px); /* Chrome, Safari */
  background: #FFFFFF;
}

.back--close {
  width: 70px;
  background: #FFFFFF;
}

.content__page--close {
  margin: 0 16% 0 14%!important;
}

.content__page--open {
  margin: 0 17% 0 7%!important;
}

.margin__close {
  margin-left: 70px;
}

#sidenavContainer {
  margin-top: 0;
  min-height: 85vh;
  background: #F6F7F9;
}

.title__page {
  color: #07003B;
  font-size: 1.8em;
  font-weight: bold;
  margin: 2em 0 1.5em 0;
  text-align: center;
}

.row {
  display: flex;
}

.box__actual-account {
  margin-top: 7.69em;
}

.box__add {
  margin: 1em 0 1em 1em;
  padding-bottom: 1em;
  background: #FFFFFF;
  width: 24.3em;
  height: min-content;
}

.icon-choose {
  position: relative;
  top:0.5em;
  left: 85%;
  padding-bottom: 0.7em;
}

.left-menu {
  min-height: 100%;
  height: auto;
}

.histogram {
  margin: 1em 0 1em 0em;
}

/*--------------- @media ------------------*/

@media (max-width: 1530px) {
  .content__page--close {
    margin: 0 11% 0 9%!important;
  }

  .content__page--open {
    margin: 0 12% 0 2%!important;
  }
}
