.margin__open {
  margin-left: 180px;
}

.margin__close {
  margin-left: 70px;
}

#sidenavContainer {
  margin-top: 0;
  min-height: 85vh;
  background: #F6F7F9;
}

.title__page {
  color: #07003B;
  font-size: 1.8em;
  font-weight: bold;
  margin: 2em 0 1.5em 0;
  text-align: center;
}

.row {
  display: flex;
}

.box__actual-account {
  margin-top: 7.69em;
}

.box__add {
  margin-top: 2em;
  padding-bottom: 1em;
  background: #FFFFFF;
  height: min-content;
}

.icon-choose {
  position: relative;
  top:0.5em;
  left: 85%;
  padding-bottom: 0.7em;
}

.left-menu {
  min-height: 100%;
  height: auto;
}
