<div class="box__little">

  <form [formGroup]="incomeForm" class="form__login" (ngSubmit)="addCategory()">
    <div class="row">
      <p class="box__input_login" style="font-size: 13px">
        <mat-form-field class="insert__input" appearance="outline">
          <mat-label>Montant recette</mat-label>
          <input formControlName="value" class="input__login" type="number" matInput placeholder="" required>
        </mat-form-field>
      </p>
      <mat-form-field appearance="fill" class="choosen__type" style="font-size: 13px">
        <mat-label>Type d'ajout</mat-label>
        <mat-select formControlName="category">
          <mat-option required *ngFor="let income of incomes" [value]="income">
            {{income.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <p class="form__submit">
      <button class="submit__add" [disabled]="incomeForm.invalid">ENVOYER</button>
    </p>
  </form>
</div>
