<div class="navbar__top">
  <span class="toolbar-spacer"></span>
  <div class="top__link">
    <ul><a class="navbar--link" href="/login">Se connecter</a></ul>
    <ul><a class="navbar--link" href="/signup">S'inscrire</a></ul>
  </div>
  <span class="material-icons icon--menu">
    menu
  </span>
</div>


<!--<button mat-button [matMenuTriggerFor]="beforeMenu">Se connecter</button>


<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">S'enregistrer</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>-->
