<div class="content__menu">
  <p class="info__profil"><img [src]="imgMen" class="photo" alt="photo"> Jérôme Botiveau</p>
  <div class="menu__link--left">
    <ul>
      <li>
        <a class="active"><span class="material-icons active">
        bolt
        </span> Compte</a>
      </li>
      <li>

        <a> <span class="material-icons">
        settings
        </span> Admin</a>
      </li>
      <li>
        <a> <span class="material-icons">
        person
        </span> Profil</a>
      </li>
      <li>
        <a><span class="material-icons">
          equalizer
          </span> Statistique
        </a>
      </li>
    </ul>
  </div>
</div>


