<div class="login">
  <div class="loginLink">
    <a class="" href="">Déjà inscrit?</a>
  </div>
  <form class="form__login">
    <p class="box__input_login">
      <mat-form-field class="login__input" appearance="outline">
        <mat-label>Login</mat-label>
        <input class="input__login" type="text" matInput placeholder="">
      </mat-form-field>
    </p>
    <p class="box__input_login">
      <mat-form-field class="login__input" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input class="input__login" type="password" matInput placeholder="">
      </mat-form-field>
    </p>
    <p class="form__submit">
      <button class="submit__btn" type="submit">Envoyer</button>
    </p>
  </form>
</div>
